*
{
    margin:0;
    padding:0;
    /*font-family:papyarus;*/
}
body
{
    background: #000;
}
section
{
    padding:10px
}
section h2
{
    font-size:3.5em;
    color:red;
}
section p
{
    font-size:1.2em;
    color:#555;   
}
#scrollpath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
}
#progressbar
{
    position:fixed;
    top: 0;
    right: 0;
    width: 10px;
}
#progressbar:before,
#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}
#progressbar:after
{
    filter: blur(30px);
}
#percent
{
    position: fixed;
    top: 1%;
    right: 15px;
    color: cyan;
    font-size: 1.4em;
}
h2 {
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }